* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #e5e5e5;
}

.header {
  height: 56px;
  width: 428px;
  background-color: #a77c5d;
  box-shadow: -4px 6px 17px -7px #000000;
}

.header_img_burger {
  margin-left: 11px;
  padding-top: 15px;
}

.header_title {
  height: 28px;
  width: 164px;
  margin-left: 48px;
  margin-top: -30px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.header_img_plus {
  margin-left: 395px;
  margin-top: -5.5%;
}

.main_blockCatBlue{
  width: 402px;
  height: 108px;
  margin-left: 12px;
  margin-top: 10px;
  box-shadow: 6px 6px 17px -7px #000000;
}

.main_blockCatBlue__polimorf {
  height: 108px;
  width: 402px;
  margin-top: 22px;
  border-radius: 12px;
  border: 1px solid black;
}

.main_blockCatBlue__polimorfIcon,
.main_violetCat__pulheriaIcon,
.main_redCat__apofemIcon {
  margin-left: 23px;
  margin-top: 22px;
}
.main_blockCatBlue__title,
.main_violetCat__title,
.main_redCat__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  height: 28px;
  width: 92px;
  margin-left: 107px;
  margin-top: -64px;
}

.main_blockCatBlue__weight,
.main_violetCat__weight,
.main_redCat__weight {
  margin-left: 106px;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main_blockCatBlue__time,
.main_violetCat__time,
.main_redCat__time {
  height: 14px;
  width: 61px;
  margin-left: 330px;
  margin-top: -15px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

.main_blockCatBlue__editIcon,
.main_violetCat__editIcon,
.main_redCat__editIcon {
  margin-left: 369px;
  margin-right: 17.71%;
  margin-top: -15.42%;
  margin-bottom: 13.54%;
}

.main_violetCat,
.main_redCat {
  margin-top: 17px;
  margin-left: 13px;
}

.main_violetCat__pulheria,
.main_redCat__apofem {
  height: 108px;
  width: 402px;
  border-radius: 12px;
  border: 1px solid black;
  box-shadow: 6px 6px 17px -7px #000000;
}

